@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
    margin: 0px;
    padding: 0px;
}

a {
    color: black;
    text-decoration: none;
}

.logo-header img {
    width: 70px;
    height: auto;
}

.header-block {
    background-color: rgba(242, 242, 242, 1);
    display: flex;
    height: 50px;
}

.list-main-nav > li {
    margin-inline: 45px;
}

.list-main-nav {
    list-style-type: none;
    align-items: center;
    display: flex;
    font-size: 25px;
    font-family: "Roboto", sans-serif;
}

.header-block > span {
    font-size: 20px;
    display: flex;
    align-items: center;
    font-family: "Roboto", sans-serif;
    margin-left: 45vw;
}

.logo-account {
    margin-left: 40vw;
    display: flex;
    align-items: center;
}

.nav-header {
    display: flex;
}

.list-main {
    list-style-type: none;
    align-items: center;
    display: flex;
    font-size: 25px;
    font-family: "Roboto", sans-serif;
    margin-left: 600px;
}

.list-main > li {
    margin-inline: 10px;
    padding: 10px;
}