.popupContainer {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 80px;
    z-index: 1000;
}

.popupContent {
    background: white;
    padding: 2rem;
    border-radius: 10px;
    width: 30%;
    min-width: 300px;
    max-width: 400px;
    box-shadow: -2px 0 10px rgba(0, 0, 0, 0.1);
    animation: slideIn 0.15s ease-in-out;
}

.userForm {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.userForm label {
    font-weight: bold;
    color: #555;
    font-family: 'Roboto', sans-serif;
}

.userForm h2 {
    font-weight: 400;
    color: black;
}

#close {
    width: 100%;
    max-width: 300px;
    height: auto;
    min-height: 50px;
    border-radius: 10px;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
    margin: 20px auto 0;
    font-size: clamp(16px, 4vw, 20px);
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: all 0.3s ease;
    background-color: #fd8288;
    color: white;
    border: none;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
}

#close:hover {
    transform: translateY(-2px);
    box-shadow: 3px 3px 6px rgba(0, 0, 0, 0.25);
    background-color: #fdb2b6;
}

#close:active {
    transform: translateY(1px);
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
}